<!DOCTYPE html>
<html module="next-transit-data">
<head>
	<title class="js-title">{{app_title}}</title>
	<meta name="description" content="Transit next stop times and maps.">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-57.png" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-72.png" sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-114.png" sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-144.png" sizes="144x144" />

	<link rel="stylesheet" type="text/css" href="/dest/app.min.css?v={{app_version}}" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-45852378-1']);
		_gaq.push(['_setDomainName', 'next-transit.com']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body class="page-{{page_name}}" ctrl="app">
	<div class="container">
		<header class="app-header">
			<div class="layout">
				<h1><a href="/">NEXT-Transit</a></h1>
				<h2>A Collection of Transit Apps <span>+</span> A Public Data API</h2>
			</div>
		</header>
		<div class="layout content">
			{{{body}}}
		</div>
		<footer class="app-footer">
		</footer>
	</div>
	<script src="/dest/app.js?v={{app_version}}"></script>
</body>
</html>